<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Student Management System</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" th:href="@{/students}">Student Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="@{/students}">Home</a></li>
        <li><a th:href="@{/students/new}">Create</a></li>
        <li><a href="#">Update</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


	<div class="container">
		<div class="row mt-3">
		<h1>Student List</h1>
		</div>
		<div class="row">
		<div class="col-jg-3">
		<a class="btn btn-primary mb-3" th:href="@{/students/new}" role="button">Add Student</a>
		</div>
		</div>
		<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Sr.No</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="student : ${students}">  
      <th scope="row" th:text="${student.id}"></th>
      <td th:text="${student.firstName}" />
      <td th:text="${student.lastName}"/>
      <td th:text="${student.email}"/>
    </tr>
  </tbody>
</table>
	</div>
</body>
</html>